* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.login-bg {
    position: fixed;
    background-image: url(../../assets/icon/footer-1.svg), url(../../assets/icon/footer-2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, bottom;
    height: 100%;
    width: 100%;
}

ion-content {
    --background: linear-gradient(180deg, #E6F4FD 0%, #FEFEFE 28.13%);
}

ion-list > ion-item{
    --background: transparent;
}

.login-block {
    margin: 5% 5%;
}

.login-block ion-button {
    margin: 0% auto;
    --background: linear-gradient(180deg, #1D4559 0%, #0F374A 100%);
    --border-radius: 9px;
    width: 100%;
    height: 80%;
}
.username-item {
    margin-bottom: 30px;
}
.password-item {
    margin-bottom: 30px;
}


.top-head {
    background-image: url('../../assets/icon/left_img.svg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: right;
    margin-bottom: 5%;
    padding: 5%;
}


.footer {
    text-align: center;
    height: 100%;
    font-size: 0.8rem;
}

.footer_img {
    margin: 0 auto;
    margin-top: 20%;
    width: 30%;
    height: 50%;
}